
h1, h2, h3, h4, p, span
{
    font-family: 'Montserrat';
}

strong
{
    font-family: 'Horizon';
    font-size: 25px;
    color: #ff8c00 ;
}

.card {
    position: relative;
    overflow: hidden; /* Nécessaire pour limiter le flou au conteneur */
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    opacity: 1; 
    z-index: 0; 
  }
  
  .card > * {
    position: relative;
    z-index: 1; 
  }
  